.wrapper {
	position: relative;
}

.container {
	position: relative;

	width: 715px;
	overflow-x: hidden;

	@include ui-margin(top, 4);
}

.list {
	display: flex;
	gap: 16px;

	transition: transform 0.4s ease-out;
}

.rightShadow {
	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;

	// TODO: переделать тень
	background-image: linear-gradient(90deg, rgba(8, 7, 11, 0) 70%, #1f1b2e 100%);

	pointer-events: none;
}

.arrows {
	position: absolute;
	top: 0;

	display: flex;

	left: -30px;
	width: 109%;
	height: 100%;

	pointer-events: none;

	> div {
		position: relative;

		display: flex;
		align-items: center;

		cursor: pointer;

		width: 28px;

		pointer-events: all;

		// Правая стрелка
		&:last-child {
			margin-left: auto;
		}

		// Правая стрелка
		&:last-child > svg {
			left: 0;
			transform: rotate(180deg);
		}

		&:hover > svg {
			color: #fff;
		}

		> svg {
			position: absolute;
			right: 0;

			width: 18px;
			height: 18px;

			transition: color 0.4s;
		}
	}
}
