.wrapper {
  border-bottom: 1px solid $border-gray;

  @include ui-padding(ver, 8);

  color: #fff;
  @include font(2, bold);
}

.language_changer {
  width: fit-content;

  @include ui-margin(bottom, 4);

  @media (min-width: 395px) {
    display: none;
  }
}

.nav {
  >p {
    @include ui-margin(bottom, 6);
  }
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;

  @include ui-margin(bottom, 6);
}

.lists {
  @include ui-margin(bottom, 6);

  &__title {
    color: #ffffffb8 !important;
    @include ui-margin(bottom, 6);
  }
}

.inner_lists {
  display: flex;
  gap: 84px;

  &__title {
    @include ui-margin(bottom, 3);
  }
}

.filter_list {
  display: flex;
  gap: 48px;
}

.filter_list_inner {
  display: flex;
  flex-direction: column;
  gap: 12px;

  color: #ffffffb8;
}

.tv_list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include ui-margin(top, 2);

  color: #ffffffb8;
}

.tv_program_button {
  background-color: #282338;

  width: 100%;
  @include ui-margin(ver, 5);
}

.channel_list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include ui-margin(bottom, 4);
}

.inner_channel_list {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 16px;
  row-gap: 16px;

  @include ui-margin(top, 4);

  @media (max-width: 880px) {
    grid-template-columns: repeat(4, auto);
  }

  @media (max-width: 600px) {
    display: none;
  }

  >li {
    position: relative;
    width: 162px;
    height: 107px;

    @media (max-width: 1160px) {
      @include adaptive-size(width, 162, 116, 880, 1160);
      @include adaptive-size(height, 107, 76, 880, 1160);
    }

    @media (max-width: 880px) {
      @include adaptive-size(width, 186, 116, 600, 880);
      @include adaptive-size(height, 122, 76, 600, 880);
    }
  }

  li,
  img {
    border-radius: 8px;
  }
}

.broadcast_list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 12px;

  @include ui-margin(ver, 4);

  @media (max-width: 520px) {
    grid-template-columns: repeat(1, auto);
  }
}

.broadcast {
  display: flex;
  gap: 12px;

  >img {
    border-radius: 8px;
  }

  &__info {
    >p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 170px;

      @media (max-width: 520px) {
        width: 100%;
      }
    }
  }

  &__subtitle {
    color: $gray !important;
    @include font(1);
    font-weight: 500 !important;
  }
}