.wrapper {
  display: flex;
  justify-content: space-between;
}

.info {
  display: block;
  width: 536px;
  @include ui-padding(top, 8);
  @include ui-padding(bottom, 8);

  &__title {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;

    width: 600px;

    @include ui-margin(bottom, 3);
  }

  &__subtitle {
    @include font(2);
    color: #a5a1b2;
    @include ui-margin(bottom, 6);
  }
}

.images {
  position: relative;
  height: 272px;
  width: 536px;

  >img {
    position: absolute;
    object-fit: cover;
  }

  &__tv {
    position: relative;
    width: 536px;
    height: 272px;
    z-index: 1;

    &_poster {
      left: 100px;
      top: 3px;
      width: 337px;
      height: 192px;
      border-radius: 4px;
    }
  }

  &__tablet {
    right: 42px;
    bottom: 0;
    width: 200px;
    height: 136px;
    z-index: 1;

    &_poster {
      right: 48px;
      bottom: 7px;
      width: 188px;
      height: 102px;
      border-radius: 4px;
      z-index: 1;
    }
  }
}