.wrapper {
  display: block;

  width: $max-width;

  @include ui-padding(top, 4);
  @include ui-margin(bottom, 5);
}

.back_button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;

  cursor: pointer;

  &:hover>svg {
    transform: scale(1);
  }

  >svg {
    width: 18px;
    height: 18px;

    transition: transform 0.2s;
  }
}

.conteiner {
  max-width: 1240px;
  display: flex;
  @include ui-margin(top, 8);
}

.conteiner_info {
  color: #fff;
  display: inline-block;
  width: 37.5%;
  text-align: center;
  @include ui-margin(left, 15);

  &__title {
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;

    @include ui-margin(bottom, 5);
  }
}

.wrapper_details {
  @include ui-padding(top, 6);
  text-align: start;
}

.actors_wrapper {
  @include ui-margin(top, 12);

  h1 {
    width: 246px;
    color: #fff;
    box-shadow: 0 1px 0 #ffffff29, inset 0 0 0 #ffffff29;
  }
}