.wrapper {
  display: inline-flex;
  flex-direction: column;
}

.wrapperTitle {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  color: #fff;

  cursor: pointer;

  @include ui-padding(bottom, 6);
  @include ui-padding(hor, 4);

  > svg {
    width: 20px;
    height: 20px;

    transform: rotate(180deg);
  }
}

.wrapperCarousel {
  position: relative;
}

.container {
  overflow-x: hidden;
}

.list {
  display: flex;

  transition: transform ease-out;
  @include ui-padding(hor, 4);
}

.arrows {
  position: absolute;
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  pointer-events: none;

  > div {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;

    cursor: pointer;

    pointer-events: all;

    &:active > svg {
      transform: scale(0.8);
    }

    &:hover > svg {
      color: #fff;
    }

    &:last-child {
      transform: rotate(180deg);
    }
  }

  svg {
    color: #ffffffb8;
    transition: color 0.4s, transform 0.4s;
  }
}

.shadow {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    90deg,
    rgba(8, 7, 11, 0) 80%,
    $dark 98%,
    $dark 100%
  );

  pointer-events: none;

  &_left {
    background-image: linear-gradient(
      -90deg,
      rgba(8, 7, 11, 0) 80%,
      $dark 98%,
      $dark 100%
    );
  }
}
