.wrapper {
  display: inline-flex;
  flex-direction: column;
}

.wrapperTitle {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

  color: #fff;

  cursor: pointer;

  @include ui-padding(bottom, 6);
  //@include ui-padding(hor, 4);

  > svg {
    width: 20px;
    height: 20px;

    transform: rotate(180deg);
  }
}

.wrapperCarousel {
  position: relative;
}

.container {
  overflow-x: hidden;
}

.list {
  display: flex;

  transition: transform ease-out;
}
