.wrapper {
	position: relative;
	cursor: pointer;

	border-radius: 8px;

	&:hover .hoverBlock {
		opacity: 1;
	}

	&:hover .wrapperImg,
	.hoverBlock {
		transform: scale(1.05);
	}
}

.wrapperImg {
	position: relative;
	border-radius: 8px;

	transition: transform 0.4s;

	z-index: -1;

	@include ui-margin(bottom, 2);
}

.hoverBlock {
	opacity: 0;

	position: absolute;
	display: flex;
	align-items: flex-end;

	top: 0;
	left: 0;

	transition: opacity 0.4s;

	width: 100%;
	height: 235px;

	background-color: rgba(7, 5, 14, 0.8);
	border-radius: 8px;

	@include ui-padding(default, 4);
}

.infoTitle {
	color: #fff;

	font-weight: 600;
	font-size: 15px;
	line-height: 20px;

	width: 153px;

	white-space: nowrap;
	overflow-x: hidden;

	text-overflow: ellipsis;
}

.infoSubtitle {
	font-size: 13px;
	line-height: 16px;
}

.notFree {
	color: #ea003d;
}

.img {
	border-radius: 8px;
}
