.wrapper{
    @include ui-margin(top,8);
    @include ui-margin(bottom,8);
    background-color: rgba(255,255,255,.08);
    border-radius: 12px;
    padding: 10px;
    text-align: start;
    display: flex;
    min-width: 258px;
}

.raiting_img{
    width: 64px;
    height: 64px;
    background-color: #73a32f;
    text-align: center;
    @include ui-padding(top,5);
    border-radius: 12px;
}
.raiting_value{
    color:#fff;
    font-size: 24px;
    font-weight: 700;
}

.raiting_info{
    display: block;
    @include ui-margin(left,4);
    @include ui-margin(top,1);

    &_title{
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: #fff;
    }

    &_subtitle{
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: rgba(255,255,255,.72);
    }
}

.raiting_button{
    background-color:rgba(255,255,255,.08);
    border-color: rgba(255,255,255,.32);
    border: 1px;
    border-style:outset;
    height: 24px;
    width: 72px;
    margin-left: auto;
    margin-right: 10px;
    border-radius:4px;
    @include ui-margin(top,5);
    transform: 0.4s;

    &_text{
        color:#fff;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
    }
}
.raiting_button:hover{
    transform: scale(1);
}