.wrapper {
	display: flex;
}

.leftSide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border-right: 1px solid $border-gray;

	@include ui-margin(right, 8);
	@include ui-padding(right, 6);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.middleSide {
	display: flex;
	flex-direction: column;

	gap: 32px;
}

.tvProgramBtn {
	background-color: #282338;
	width: 178px;
}
