.wrapper {
	display: flex;
}

.left_side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border-right: 1px solid $border-gray;

	@include ui-margin(right, 8);
	@include ui-padding(right, 6);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.middle_side {
	display: flex;
	flex-direction: column;

	gap: 32px;
}

.tv_program_btn {
	background-color: #282338;
	width: 178px;

	&:active {
		background-color: #282338;
	}
}
