$main-color: #ea003d;
$hover-color: #ff0f4d;
$active-color: #c10032;

.button {
	line-height: 20px;

	background-color: $main-color;
	border-radius: 8px;

	transition: background-color 0.4s, border-color 0.4s;

	@include ui-padding(ver, 2);
	@include ui-padding(hor, 4);

	&:active {
		background-color: $active-color !important;
	}

	&:hover {
		background-color: $hover-color;
	}
}
