.button {
	line-height: 20px;

	background-color: #c10032;
	border: 1px solid #c10032;
	border-radius: 8px;

	padding: 9px 15px;

	transition: background-color 0.4s, border-color 0.4s;

	&:hover {
		background-color: #ff0f4d;
		border-color: #ff0f4d;
	}
}

.secondary {
}
