.wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  @include ui-margin(top, 12);
}

.container {
  max-width: fit-content;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  @include ui-padding(hor, 4);
}

.carousel_list {

  >div>a>div {
    @media (max-width: 1270px) {
      @include adaptive-size(width, 224, 200, 1161, 1270);
      @include adaptive-size(height, 492, 439, 1161, 1270)
    }

    @media (max-width: 1161px) {
      @include adaptive-size(width, 256, 186, 881, 1161);
      @include adaptive-size(height, 562, 409, 881, 1161)
    }

    @media (max-width: 881px) {
      @include adaptive-size(width, 256, 178, 599, 881);
      @include adaptive-size(height, 562, 391, 599, 881)
    }

    @media (max-width: 599px) {
      @include adaptive-size(width, 275, 136, 320, 599);
      @include adaptive-size(height, 604, 298, 320, 599)
    }
  }
}