@mixin adaptive-size($property, $pcSize, $mobSize, $customSize: 320, $fullSize: 1920) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $fullSize - $customSize;
  #{$property}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$customSize + px}) / #{$maxWidth}));
}

@mixin keep-aspect-ratio($init-width, $init-height, $new-width) {
  $aspect-ratio: $init-width / $init-height;
  width: $new-width;
  height: $new-width / $aspect-ratio;
}