.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $dark;
  width: 153px;
  height: 235px;

  color: $gray-soft;
  border-radius: 8px;

  @include font(2, bold);
  text-align: center;

  letter-spacing: 0.3px;

  transition: transform 0.4s, color 0.4s, background-color 0.4s;

  z-index: -1;

  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    color: #fff;
    background-color: #231f34;
  }
}