.wrapperTitle {
	display: flex;
	align-items: center;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;

	color: #fff;

	> svg {
		transform: rotate(180deg);
	}
}

.wrapperCarousel {
	position: relative;
}

.container {
	width: 1225px;
	overflow-x: hidden;
}

.list {
	display: flex;
	gap: 24px;

	transition: transform 0.4s ease-out;

	@include ui-padding(top, 6);

	> li {
		position: relative;
		cursor: pointer;

		border-radius: 8px;

		&:hover .hoverBlock {
			opacity: 1;
		}

		&:hover .wrapperImg,
		.hoverBlock {
			transform: scale(1.05);
		}
	}
}

.wrapperImg {
	position: relative;
	border-radius: 8px;

	transition: transform 0.4s;

	z-index: -1;

	@include ui-margin(bottom, 2);
}

.img {
	border-radius: 8px;
}

.infoTitle {
	color: #fff;

	font-weight: 600;
	font-size: 15px;
	line-height: 20px;

	width: 153px;

	white-space: nowrap;
	overflow-x: hidden;

	text-overflow: ellipsis;
}

.infoSubtitle {
	font-size: 13px;
	line-height: 16px;
}

.notFree {
	color: #ea003d;
}

.hoverBlock {
	opacity: 0;

	position: absolute;
	display: flex;
	align-items: flex-end;

	top: 0;
	left: 0;

	transition: opacity 0.4s;

	width: 100%;
	height: 235px;

	background-color: rgba(7, 5, 14, 0.8);
	border-radius: 8px;

	padding: 16px;
}

.arrows {
	position: absolute;
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	pointer-events: none;

	> div {
		position: absolute;
		display: flex;
		align-items: center;

		height: 100%;
		width: 40px;

		// Поправляем позицию
		@include ui-margin(bottom, 8);

		cursor: pointer;

		pointer-events: all;

		&:active > svg {
			transform: scale(0.8);
		}

		&:hover > svg {
			color: #fff;
		}

		&:first-child {
			left: -50px;
		}

		&:last-child {
			transform: rotate(180deg);
			right: -20px;
		}
	}

	svg {
		color: #ffffffb8;

		width: 32px;
		height: 32px;

		transition: color 0.4s, transform 0.4s;
	}
}

.viewAll {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: $dark;
	min-width: 153px;
	max-width: 153px;
	height: 235px;

	color: #a5a1b2;

	font-weight: 600;
	line-height: 20px;
	font-size: 15px;

	letter-spacing: 0.3px;

	transition: transform 0.4s, color 0.4s, background-color 0.4s;

	z-index: -1;

	&:hover {
		transform: scale(1.05);
		color: #fff;
		background-color: #231f34;
	}
}
