.buttons {
  display: flex;
  gap: 16px;

  @include ui-margin(ver, 6);

  > a {
    width: 100%;
    > button {
      width: 100%;
    }
  }
}

.carousels {
  display: inline-flex;
  flex-direction: column;

  > article {
    @include ui-margin(bottom, 11);
  }
}

.movies_carousel_wrapper {
  @include ui-padding(top, 1);
  @include ui-padding(hor, 1);
}
