.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  > svg {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
  }
}

.down {
  transform: rotate(-90deg) !important;
}
