
.root{
    max-width: 1216px;
}


.main{   
    max-width: 1216px;
    margin-left:20%;
    h2{
        font-size: 24px;
        font-weight: 700;
        
    }
    .sliderTop10{
        display: flex;
        max-width: 100%;
        margin-top: 30px;
        overflow: hidden;
        position:relative;
        transition: all 1s ease-in-out;
    }
    .sliderBlock:hover{
        transform: scale(1.1);
    }
    .sliderBlock{
        margin-left: 20px;
        transition: all 1s ease-in-out;

        .sliderBlock,img{
            border-radius: 10px;
            position: relative;
            width: 219px;
        }
        
        .sliderBlock,h3{
            padding-left: 100px;
            font-size: 50px;
            position: relative;
            bottom:20%;
        }
    }
    
    button{
        color: #fff;
        background:none;
        border: none;
        width: 50px;
        height:50px;
        font-size: 30px;
        transform: translateY(-400%);
        position: absolute;
        z-index:1;
        top:50%;
        transition: color 0.5ms;
        font-size: 50px;
        
    }
    button:hover{
        color:rgba(255, 255, 255, 0.314);
    }
    .buttonPrev{
        left:18%;
    }
    .buttonNext{
        right:14%;
        
    }
}