.wrapper {
  position: relative;
  display: flex;
  justify-content: center;

  @include ui-margin(top, 12);

  @media (max-width: 599px) {
    display: none;
  }
}

.container {
  max-width: fit-content;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  @include ui-padding(hor, 4);
}

.carousel_wrapper {
  //@include ui-margin(bottom, 6);
}
