.wrapper {
  display: flex;
  gap: 28px;
}

.logo {
  width: 66px;
  height: 72px;

  @media (max-width: 599px) {
    display: none;
  }
}

.nav {
  display: flex;

  color: $gray;
  font-weight: 500;

  >a {
    display: flex;
    align-items: center;

    @extend .text;

    @include ui-padding(hor, 2);
  }

  @media (max-width: 1160px) {
    display: none;
  }
}