.wrapper {
  @include ui-margin(ver, 16);
  width: 100%;

  @media (max-width: 1072px) {
    @include ui-margin(ver, 8);
  }

  @media (max-width: 540px) {
    @include ui-margin(ver, 4);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  @include ui-margin(bottom, 6);
}

.title {
  @include ui-font(6);
  line-height: 1.17;
  font-weight: 700;
  flex: 1 1 auto;
}

.subtitle {
  width: 100%;
}

.makeReview {
  flex: 0 0 auto;
  height: 32px;
  width: fit-content;
}

.quantity {
  position: absolute;
  width: 40px;

  color: $gray-soft;
  @include font(1);
  @include ui-padding(left, 0.5);
}

.subtitle {
  color: $gray-soft;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: normal;
  white-space: pre-wrap;
  @include ui-margin(top, 4);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.commentForm {
  @include ui-margin(top, 2);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: $max-width;
  gap: 60px;
}

.reviews {
  width: 100%;
}

@media (max-width: 890px) {
  .wrapper {
    width: calc(100vw + 1px);
  }
  .makeReview {
    @include ui-margin(right, 8);
  }
}
