.wrapper {
  color: #ffffffb8;
  @include font(2);

  >span {
    display: inline-flex;
    align-items: center;
  }

  >*:not(:last-child)::after {
    @extend .dot;
  }
}


.filter {
  cursor: pointer;

  transition: color .2s;

  &:hover {
    color: #fff;
  }
}

.genre_list {
  display: inline-flex;


  >li {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      @extend .dot;
    }
  }
}

.dot {
  content: '';
  width: 2px;
  height: 2px;

  background-color: #ffffffb8;

  @include ui-margin(hor, 1.5)
}