@mixin slider-transition {
  transition: transform 0.6s, opacity 0.6s; //cubic-bezier(.84,.23,.53,.95);
}

$init-image-width: 1216px;
$init-image-height-mobile: 1368px;
$init-image-height: 524px;

.container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.window {
  z-index: 0;
  display: flex;
  height: 100%;
  width: 1216px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 auto;
}

.arrowArea {
  position: absolute;
  z-index: 950;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  &_left {
    right: 100%;

    &::before {
      z-index: 900;
      position: absolute;
      content: "";
      background-image: linear-gradient(to left, rgba(31, 27, 46, 0), rgba(31, 27, 46, 0.72));
      height: 100%;
      width: 800px;
      right: 0;
      opacity: 0;
      transition: all 200ms ease;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &_right {
    left: 100%;

    &::before {
      z-index: 900;
      position: absolute;
      content: "";
      background-image: linear-gradient(to right, rgba(31, 27, 46, 0), rgba(31, 27, 46, 0.72));
      height: 100%;
      width: 800px;
      left: 0;
      opacity: 0;
      transition: all 200ms ease;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &:hover {
    & .arrow {
      color: #fff;
    }
  }

  &:active {
    & .arrow {
      transform: scale(0.8);
      color: #fff;
      transition: all 200ms ease;
    }
  }
}

.arrow {
  z-index: 999;
  color: #a6a7aa;
  font-size: 40px;
  font-weight: bolder;
  transition: all 200ms ease;
  user-select: none;

  &_left {
    margin-right: 3%;
    align-self: flex-end;
  }

  &_right {
    margin-left: 3%;
    align-self: flex-start;
  }
}

@media (max-width: 1330px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 1016px);
  }

  .arrowArea {
    &_left {
      right: 91%;
    }
    &_right {
      left: 91%;
    }
  }

  .arrow {
    &_left {
      margin-right: 1%;
    }

    &_right {
      margin-left: 1%;
    }
  }
}

@media (max-width: 1246px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 916px);
  }
  .arrowArea {
    &_left {
      right: 88%;
    }
    &_right {
      left: 88%;
    }
  }
}

@media (max-width: 1162px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 816px);
  }
  .arrowArea {
    &_left {
      right: 92%;
    }
    &_right {
      left: 92%;
    }
  }
}

@media (max-width: 1046px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 716px);
  }
  .arrowArea {
    &_left {
      right: 86%;
    }
    &_right {
      left: 86%;
    }
  }
}

@media (max-width: 930px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 616px);
  }
  .arrowArea {
    &_left {
      right: 85%;
    }
    &_right {
      left: 85%;
    }
  }
}

@media (max-width: 810px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 558px);
  }
  .arrowArea {
    &_left {
      right: 84%;
    }
    &_right {
      left: 84%;
    }
  }
}

@media (max-width: 690px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 500px);
  }
  .arrowArea {
    &_left {
      right: 87%;
    }
    &_right {
      left: 87%;
    }
  }
}

@media (max-width: 625px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 425px);
  }
  .arrowArea {
    &_left {
      right: 86%;
    }
    &_right {
      left: 86%;
    }
  }
}

@media (max-width: 560px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 350px);
  }
  .arrowArea {
    &_left {
      right: 82%;
    }
    &_right {
      left: 82%;
    }
  }
}

@media (max-width: 490px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 275px);
  }
  .arrowArea {
    &_left {
      right: 80%;
    }
    &_right {
      left: 80%;
    }
  }
}

@media (max-width: 420px) {
  .window {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 200px);
  }
  .arrowArea {
    &_left {
      right: 74%;
    }
    &_right {
      left: 74%;
    }
  }
}
