.wrapper {
  @include ui-margin(ver, 16);
}

.container {
  display: flex;
  justify-content: space-between;
  color: #fff;

  @include ui-margin(bottom, 6);
}

.title {
  @include ui-font(6);
  line-height: 1.17;
  font-weight: 700;
  &__reviews {
    position: relative;
  }
}

.reviews {
  display: flex;
  gap: 24px;
}

.makeReview {
  height: 32px;
}

.quantity {
  position: absolute;
  width: 40px;

  color: #a5a1b2;
  @include font(1);
  @include ui-padding(left, 0.5);
}

.subtitle {
  color: #a5a1b2;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;

  white-space: nowrap;
  @include ui-margin(top, 4);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.commentForm {
  @include ui-margin(top, 2);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: $max-width;
  gap: 60px;
}