.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background-color: $dark;
    @include ui-padding(default, 5);
    height: 162px;
    max-width: 286px;
    width: 100%;
    width: 100%;
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
        transition: all 0.2s;
        background-color: $violet;
    }

    @media (max-width: 1272px) {
        @include adaptive-size(width, 240, 240, 1097, 1272);
        max-width: initial;
    }

    @media (max-width: 1096px) {
        @include adaptive-size(width, 310, 280, 971, 1096);
    }

    @media (max-width: 970px) {
        @include adaptive-size(width, 280, 200, 776, 970);
    }

    @media (max-width: 775px) {
        @include adaptive-size(width, 300, 280, 670, 775);
    }

    @media (max-width: 669px) {
        @include adaptive-size(width, 260, 220, 583, 669);
    }

    @media (max-width: 582px) {
        @include adaptive-size(width, 480, 380, 460, 582);
    }

    @media (max-width: 459px) {
        @include adaptive-size(width, 360, 220, 320, 459);
    }
}

.user {
    @include ui-margin(bottom, 2);
    @include font(1);
    font-weight: 800;
    color: $gray-soft;
}

.content {
    @include font(2);
    line-clamp: 3;
    line-height: 1.47;
    color: white;
    overflow: hidden;
    //почему это так???77
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include ui-margin(top, 3);
}

.date {
    @include font(1);
    color: $gray-soft;
    line-height: 1.2;
}

.likes {
    display: flex;
    align-items: center;
    &__num {
        color: $green;
        @include font(2);
        font-weight: 700;
        @include ui-padding(hor, 4);
    }
    &__icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}
