.wrapper {
  height: 100%;
  max-width: $max-width;
  @include ui-padding(top, 4);
  @include ui-margin(bottom, 5);
}

.back_button {
  position: absolute;

  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px;
  @include ui-margin(left, 2);
  @include ui-margin(top, 8);

  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;

  cursor: pointer;

  &:hover > svg {
    transform: scale(1);
  }

  > svg {
    width: 18px;
    height: 18px;
    transition: transform 0.2s;
  }
}

.modal_conteiner {
  display: flex;
  @include ui-padding(bottom, 6);
  @include ui-padding(top, 25);
}

.modal_info {
  display: block;
  color: #fff;

  @include ui-padding(left, 3);
  @include ui-padding(right, 3);

  &_title {
    @include ui-margin(bottom, 5);
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    width: 90%;
  }

  &_subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.persons_conteiner {
  display: flex;
  @include ui-margin(bottom, 4);

  > img {
    object-fit: cover;
  }
}

.staff_grid_outer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: fit-content;
}

.staff_grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 84px;
}

