.wrapper {
    background-color: $violet;
}

.input {
    width: 100%;
    @include ui-padding(hor, 1);
    &__title {
        flex: 1 0 auto;
    }
    &__item {
        display: flex;
        flex: 1 0 auto;
        gap: 8px;
    }
    &__wrapper {
        display: flex;
        @include ui-padding(bottom, 2);
    }
}

.icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.check {
    color: $green;
}

.cancel {
    color: $orange;
}