.wrapper {
  @include ui-margin(top, 8);
}

.container {
  display: flex;
  justify-content: space-between;
}

.card {
  cursor: pointer;

  &:hover {

    // Применяется к первому тэгу p
    >p:nth-child(2) {
      color: #fff;
    }
  }

  &__img {
    border-radius: 50%;
    overflow: hidden;
    background-color: #1f1b2e;
  }

  &__name {
    color: #d9d7e0;
    @include font(1);

    max-width: 88px;

    transition: color 0.2s;
    @include ui-margin(top, 2);
  }

  &__title {
    color: #a5a1b2;
    @include font(1);
    @include ui-margin(top, 1);
  }
}

.more_button {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #1f1b2e;

  color: $gray-soft;

  transition: color 0.2s, background-color 0.2s;

  &:hover {
    color: #fff;
    background-color: #231f34;
  }
}