.switch {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $gray;
    height: fit-content;
    @include ui-padding(hor, 1.75);
    @include ui-padding(ver, 2);
    height: 36px;
    min-width: 64px;
    @include font(1);
    user-select: none;
    border-radius: 9999px;
    transition: border-color 0.4s;
    &:hover {
        border-color: white;
        transition: border-color 0.2s, box-shadow 0.2s;
        box-shadow: 0 0 20px 5px rgba($color: #fff, $alpha: 0.15);
    }
}

.knob {
    z-index: 1;
    position: absolute;
    border-radius: 9999px;
    height: 26px;
    width: 26px;
    background-color: $gray-soft;
    top: 3px;
    transition: all 0.3s ease-in-out;
    &_left {
        left: 3px;
    }
    &_transition_left {
        left: 3px;
        width: calc(100% - 6px);
    }
    &_transition_right {
        right: 3px;
        width: calc(100% - 6px);
    }
    &_right {
        right: 3px;
    }
}

.option {
    min-height: 16px;
    min-width: 16px;
    border-radius: 9999px;
    z-index: 5;
    cursor: pointer;
    transition: color 0.4s;
    font-weight: 600;
    &:hover {
        color: white;
        transition: border-color 0.2s;
    }
}
