.text {
	// FIXME: откуда появляется другой стиль при наведении
	color: #1f1b2e !important;
	cursor: text;
	//

	font-size: 16px;
	line-height: 1.25;
	font-weight: 600;

	background-color: #d9d7e0;
	border-radius: 8px;

	@include ui-padding(hor, 3);
	@include ui-padding(ver, 3);
}

.number {
	color: #1f1b2e;
	background-color: #d9d7e0;
	border-radius: 8px;

	font-weight: 600;
	width: 60px;

	text-align: center;

	-moz-appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	@include ui-padding(ver, 2);
	@include ui-padding(hor, 2);
}

.label {
	position: relative;
	input:focus {
		.placeholder {
			cursor: text;
			font-size: 12px;
			transform: scale(0.4);
		}
	}
}

.input {
	width: 100%;
}

.placeholder {
	cursor: pointer;
	position: absolute;
	color: $gray-soft;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 600;
	width: 100%;
	left: 0px;
	top: 0px;
	@include ui-padding(hor, 3);
	@include ui-padding(ver, 3);
}
