.container {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.basicbtn {
    //баг при компиляции scss, игнорирует стили родительского scss файла, пришлось вставить паддинги сюда
    &_google {
        & svg {
            height: 16px;
            width: 16px;
            margin-right: 4px;
        }
        @include ui-padding(hor, 4);
        @include ui-padding(ver, 2.5);
    }
    &_vk {
        & svg {
            height: 20px;
            width: 20px;
        }
        @include ui-padding(hor, 4);
        @include ui-padding(ver, 2.5);
    }
}
