$hover-color: #2e2844;
$active-color: #0e0c14;

.button {
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	display: block;

	background-color: $dark;
	color: #fff;

	border-radius: 8px;

	@include ui-padding(ver, 3);
	@include ui-padding(hor, 4);

	transition: background-color 0.4s;

	&:hover {
		background-color: $hover-color;
		transition: background-color 0.08s;
	}

	&:active {
		background-color: $active-color;
		transition: background-color 0.08s;
	}

	svg {
		width: 18px;
		height: 18px;
	}

	> a {
		color: #fff;
	}
}

.text {
	width: 196px;
}

.icon {
	@include center-content;
	height: 40px;

	@include ui-padding(hor, 3);
}

.iconCircle {
	@include center-content;
	height: 40px;

	border-radius: 100%;

	@include ui-padding(hor, 3);
}

.description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include ui-margin(left, 2);
}

.suptitle {
	font-size: 10px;
	color: $gray;
	font-weight: 600;
	height: 12px;
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.title {
	font-size: 15px;
	font-weight: 600;
	height: 20px;
	line-height: 1.33;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.textPlusIcon {
	display: flex;
	align-items: center;

	@include ui-padding(ver, 1);
	@include ui-padding(hor, 3);
}

.href {
	display: inline;
	background-color: transparent;
}
