@import "../BannerCarousel.module.scss";

$init-image-width: 1216px;
$init-image-height-mobile: 1368px;
$init-image-height: 524px;

.element {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  opacity: 0.24;
  @include slider-transition;
  background-color: $dark;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  @include ui-margin(right, 3);

  &_active {
    opacity: 1;
    filter: none;
  }
}

.content {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: white;
}

.title {
  @include adaptive-size(font-size, 56, 24, 600);
}

.subtitle {
  font-weight: 600;
  @include adaptive-size(font-size, 15, 13, 600);
  @include adaptive-size(line-height, 22, 18, 600);
  @include ui-margin(top, 5);
}

.background {
  border-radius: 20px;
  position: relative;
  line-height: 0;
  height: $init-image-height;
  width: $init-image-width;
  overflow: hidden;
  z-index: 1;
}

.image {
  object-fit: unset;
  border-radius: 20px;
  &_mobile {
    display: none;
  }
}

.button {
  opacity: 0;

  &_active {
    opacity: 1;
  }
}

@media (max-width: 1330px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 1016px);
  }
}

@media (max-width: 1246px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 916px);
  }
}

@media (max-width: 1162px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 816px);
  }
}

@media (max-width: 1046px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 716px);
  }
}

@media (max-width: 930px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 616px);
  }
}

@media (max-width: 810px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height, 558px);
  }
}

@media (max-width: 919.98px) {
  .content {
    bottom: 20px;
    left: 20px;
  }
}

@media (max-width: 690px) {
  .image {
    display: none;

    &_mobile {
      display: unset;
    }
  }
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 500px);
  }
}

@media (max-width: 625px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 425px);
  }
}

.highlight_button {
  @include ui-margin(top, 5);

  @media (max-width: 743px) {
    display: none;
  }
}

@media (max-width: 560px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 350px);
  }
}

@media (max-width: 490px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 275px);
  }
}


@media (max-width: 420px) {
  .background {
    @include keep-aspect-ratio($init-image-width, $init-image-height-mobile, 200px);
  }
}
