.title {
	color: #fff;

	font-size: 40px;
	line-height: 44px;
	font-weight: 700;

	@include ui-margin(bottom, 2);
}

.info {
	color: $gray-soft;

	font-size: 15px;
	line-height: 22px;
	font-weight: 400;

	width: 75%;

	> p {
		@include ui-margin(bottom, 2);
	}
}

.carousel_wrapper {
	@include ui-margin(ver, 7);
}
