.title {
  color: #fff;

  font-size: 40px;
  line-height: 44px;
  font-weight: 700;

  @include ui-margin(bottom, 2);
}

.info {
  color: $gray-soft;

  @include font(2);

  width: 75%;

  > p {
    @include ui-margin(bottom, 2);
  }
}

.carousel_wrapper {
  @include ui-margin(ver, 4);
}

.moviegrid_wrapper {
  @include ui-margin(ver, 6);
}
