$wrapper-bg: #100e19;

.wrapper {
  background-color: $wrapper-bg;

  max-width: $max-width;
  width: 100%;

  @include ui-padding(top, 1);
  @media (max-width: 1161px) {
    top: 0;
    position: fixed;
    z-index: 99999;
    @include ui-margin(bottom, 18);
  }
  @media (max-width: 599.98px) {
    @include ui-padding(ver, 1);
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  // TODO: Нужна ли анимация ???
  transition: background-color 0.1s;

  margin: auto;
  @include ui-padding(hor, 3);

  @media (max-width: 1161px) {
    @include ui-padding(hor, 8);
  }
}

.effect {
  background-color: $dark;
}

.border_bottom {
  border-bottom: 1px solid $border-gray;
}
