.wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;

	right: 16px;
	top: 16px;

	> li {
		position: relative;

		&:hover > p {
			opacity: 1;
		}

		> p {
			position: absolute;
			top: -35px;

			opacity: 0;

			background-color: $dark;
			border-radius: 4px;
			color: #fff;
			font-size: 13px;

			transition: opacity 0.08s;

			white-space: nowrap;
			pointer-events: none;

			padding: 8px;
		}
	}

	svg {
		color: #fff;

		width: 20px;
		height: 20px;

		transition: color 0.08s;

		&:hover {
			color: #d9d7e0;
		}
	}
}
