.list {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@include ui-margin(top, 2);
		@include ui-margin(left, 7);

		> li {
			display: list-item;
			list-style: disc;
		}
	}
}
