.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    @include ui-margin("bottom", 2);
    font-size: 15px;
}

.description {
    color: $gray;
    font-size: 15px;
    @include ui-margin("bottom", 5);
}

.chat {
    color: #fff;
    @include ui-margin("left", 5);
    @include ui-margin("right", 5);
}

.buttons {
    position: relative;
    display: flex;
    gap: 12px;
    @include ui-margin("top", 3);
}

.link {
    @include center-content;
    height: 100%;
    width: 100%;
}

.icon {
    height: 20px;
    width: 20px;
    color: white;
}

.askivi {
    @include ui-margin("top", 6);
    & a {
        color: white;
        @include ui-font(4);
    }

    & p {
        color: $gray;
        font-size: 15px;
    }
}

.phone {
    position: relative;
}

.popup {
    position: absolute;
    white-space: nowrap;
    top: 100%;
    margin-top: 6px;
    opacity: 0;
    transition: all 200ms linear;
    visibility: hidden;
    padding: 24px 57px 24px 15px;
    & a {
        color: white;
    }
}

.popup_active {
    opacity: 1;
    margin-top: 12px;
    visibility: visible;
}
