.wrapper {
  @include ui-margin(bottom, 5);
  @include ui-padding(top, 4);
  @include ui-padding(left, 4);
}

.back_button {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;

  cursor: pointer;

  &:hover > svg {
    transform: scale(1.1);
  }

  > svg {
    width: 18px;
    height: 18px;

    transition: transform 0.2s;
  }
}

.container {
  position: relative;

  display: flex;
  gap: 30px;

  @include ui-margin(top, 8);

  @media (max-width: 1159px) {
    display: grid;
    column-gap: 60px;
    grid-template-columns: repeat(1, auto);
  }
}

.container_info {
  flex: 0 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;

  &__title {
    color: #fff;
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;

    @include ui-margin(bottom, 5);

    @media (max-width: 1159px) {
      display: none;
    }
  }
}

.expand_block_wrapper {
  text-align: start;

  width: 450px;

  @include ui-padding(top, 12);

  p {
    line-clamp: 5 !important;
    -webkit-line-clamp: 5 !important;

    @media (max-width: 1159px) {
      line-clamp: 2 !important;
      -webkit-line-clamp: 2 !important;
    }
  }

  @media (max-width: 1159px) {
    @include adaptive-size(width, 678, 533, 880, 1159);
  }

  @media (max-width: 880px) {
    @include adaptive-size(width, 815, 288, 320, 880);
  }
}

.actors_wrapper {
  @include ui-margin(top, 12);

  h1 {
    width: 246px;
    color: #fff;
    box-shadow: 0 1px 0 #ffffff29, inset 0 0 0 #ffffff29;
  }
}

.films_actors_wrapper {
  width: 100%;
}

.film_fields {
  @media (max-width: 1160px) {
    display: none;
  }
}

.film_features {
  align-self: center;

  @media (max-width: 1159px) {
    display: none !important;
  }
}
