.wrapper {
  color: #fff;
  @include ui-padding(ver, 8);
}

.about_us {
  display: flex;
  align-items: center;
  gap: 8px;

  @include ui-margin(bottom, 5);
}

.abouts_us_list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: #ffffffb8;
  @include font(2);

  @include ui-margin(bottom, 5);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;

  border-bottom: 1px solid $border-gray;
  @include ui-padding(bottom, 8);

  >button {
    display: flex;
    justify-content: center;

    flex-grow: 1;
  }

  @media (max-width: 513px) {
    grid-template-columns: repeat(1, auto);
    row-gap: 12px;

    button {
      min-height: 40px;
    }
  }
}

.support_block {
  border-bottom: 1px solid $border-gray;

  @include ui-padding(ver, 8);

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 28px;

    max-width: 831px;

    @include ui-margin(ver, 4);

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, auto);
      row-gap: 12px;
    }
  }

  &__buttons_icon {
    display: flex;
    gap: 12px;
  }

  &__info {
    @include ui-margin(top, 4);

    >p {
      @extend .gray;
      @include font(2);
    }
  }
}


.socials {

  @include ui-padding(ver, 8);

  svg {
    width: 18px;
    height: 18px;
  }
}

.info>p {
  @include ui-margin(bottom, 2);
}

.write_button {
  width: 100%;
}

.ask {
  @include ui-margin(bottom, 1);
}

.gray {
  color: #ffffff7a !important;
  font-weight: 500 !important;
}