$secondary-color: #fff;
$primay-color: #9b97a9;
$primay-active-bg: #2a253c;
$primay-hover-bg: #352f4b;

.button {
  background-color: $violet;
  color: $primay-color;

  font-size: 16px;

  white-space: nowrap;

  border-radius: 16px;
  padding: 6px 16px;

  transition: background-color 0.08s;

  &:hover {
    background-color: $primay-hover-bg;
  }

  &:active {
    background-color: $primay-active-bg;
  }
}

.secondary {
  color: $secondary-color;
  @include font(1, bold);

  border: 1px solid $dark-gray;
  padding: 8px 16px;
}
