.info {
  display: flex;
  flex-direction: column;
  color: $gray-soft;
  @include font(2);
  
  &__title {
    color: #fff;

    @include adaptive-size(font-size, 20, 15);
    @include adaptive-size(line-height, 24, 22);
    font-weight: 600;
  }

  &__body__top {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.toggle {
  color: #fff;
  font-weight: 600;

  cursor: pointer;
}

.visible {
  display: block;
}
