$start-gradient-color: #c447ff;

.button {
	align-self: center;

	font-size: 13px;
	line-height: 16px;

	background-image: linear-gradient(270deg, $red 0, $start-gradient-color 100%);
	// Если в браузере не поддерживается градиент
	background-color: $red;

	border-radius: 8px;

	@include ui-padding(ver, 2);
	@include ui-padding(hor, 3);
}
