.wrapper {
  height: 600px;
  background-image: url(https://gambit-parent.dfs.ivi.ru/static/23.04.05/images/_main/pageNotFound/bg404.png?ver=fc692232fc07e54ca53a317f4173bbb2);
  background-size: cover;
  color: #fff;
}

.content {
  text-align: center;

  @include ui-padding(top, 63);
}

.title {
  font-size: 40px;
  font-weight: 900;
}

.subtitle {
  @include font(2);
  color: $gray-soft;
}
