.wrapper {
	display: flex;
	flex-direction: column;
	gap: 48px;

	height: 100%;
	width: 860px;

	@include ui-margin(top, 40);
}

.title {
	color: #fff;
	font-size: 40px;
	line-height: 44px;
	font-weight: 900;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;

	color: #fff;
	font-size: 15px;
	line-height: 22px;
	font-weight: 600;

	text-decoration: underline;
	text-underline-offset: 4px;

	> li {
		cursor: pointer;
	}
}
