.info {
  display: flex;
  flex-direction: column;
  gap: 12px;

  color: $gray-soft;

  @include font(2);

  @include ui-margin(top, 6);

  &__title {
    color: #fff;
    @include font(3, bold);
  }

  &__body__top {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.toggle {
  color: #fff;
  font-weight: 600;

  cursor: pointer;
}

.visible {
  display: block;
}
