.wrapper {
	display: flex;
	align-items: center;

	color: $gray;
	background-color: transparent;

	cursor: default;
}

.container {
	display: flex;
	align-items: center;

	cursor: pointer;

	> svg {
		width: 18px;
		height: 18px;

		margin-right: 8px;
	}
}

.notif_icon {
	width: 22px !important;
	height: 22px !important;

	transition: transform 0.4s;

	&:hover {
		transform: scale(1.1);
	}
}
