.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100vh;
    @include ui-padding(top, 2);
    @include ui-padding(bottom, 2);
}

.title {
    @include ui-font(5);
    text-align: center;
    @include ui-padding(top, 2);
    @include ui-padding(bottom, 1);
}

.db {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $dark;
    flex: 1 0 auto;
    border-radius: 8px;
    &__input {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    &__output {
        flex: 0 0 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.header {
    width: 100%;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__pages {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__page {
        @include ui-padding(default, 2);
        color: #fff;
        @include ui-font(4);
        line-height: 1.33;
        font-weight: 800;
        background-color: $dark;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        &_active {
            background-color: $violet;
        }
    }
}

.database {
    @include ui-padding(default, 2);
    flex: 1 0 auto;
    background-color: $violet;
    border-bottom-right-radius: 8px;
}
