.wrapper {
	display: grid;
	grid-template-columns: repeat(5, auto);

	column-gap: 12px;
	row-gap: 24px;

	background-color: $dark;
	border-radius: 6px;

	@include ui-padding(default, 4);
}

.clear_filters {
	display: flex;
	align-items: center;

	color: #fff;
	cursor: pointer;

	transition: color 0.4s;

	> svg {
		width: 32px;
		height: 32px;
	}

	&:hover {
		color: $red;
	}
}
