.wrapper {
	display: inline-grid;
	grid-template-columns: repeat(5, minmax(147px, 227px));

	column-gap: 12px;
	row-gap: 24px;

	width: $max-width;

	background-color: $dark;
	border-radius: 6px;

	@include ui-padding(default, 4);

	@media (max-width: 1260px) {
		@include adaptive-size(width, 1240, 870, 881, 1260);
	}

	@media (max-width: 879px) {
		grid-template-columns: repeat(2, auto);
		row-gap: 12px;
	}

	@media (max-width: 599px) {
		grid-template-columns: repeat(1, auto);
	}
}

.clear_filters {
	display: flex;
	align-items: center;

	color: #fff;
	cursor: pointer;

	transition: color 0.4s;

	white-space: nowrap;

	>svg {
		width: 32px;
		height: 32px;
	}

	&:hover {
		color: $red;
	}

	&__deactive {
		display: flex;
		align-items: center;
		cursor: default;
		opacity: .32 !important;

		>svg {
			width: 32px;
			height: 32px;
		}
	}

	@media (max-width: 879px) {
		justify-content: center;
	}
}

.filter_genre_card_active {
	background-color: #7e798f;
}