.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  min-width: 254px;
  max-width: 254px;

  > img {
    border-radius: 8px;
  }
}

.info {
  > p {
    white-space: nowrap;
  }

  &__bottom {
    @include font(1);
  }
}

.title {
  color: #fff;
  @include font(2, bold);
}
